/* Стили для контейнера с изображением */
.image-container {
    position: relative;
    display: inline-block;
}

.my-image {
    width: 100vw;
    /* Занимает всю ширину окна */
    height: 100vh;
    /* Занимает всю высоту окна */
    object-fit: cover;
    /* Сохраняет пропорции изображения */
}

.center-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(4, 2, 17);
    /* Цвет текста */
    font-size: 5em;
    /* Размер шрифта */
    text-align: center;
    /* Центрирование текста */
}

/* Стили для навигационной панели */
.navbar {
    background-image: url('path/to/your/image.jpg');
    /* Замените на путь к вашей картинке */
    background-size: cover;
    /* Заполняет панель фоном */
    background-position: center;
    /* Центрирует фоновое изображение */
    padding: 1rem;
    /* Отступы внутри панели */
    color: white;
    /* Цвет текста */
}

.navbar-brand {
    font-size: 1.5rem;
    /* Размер шрифта для бренда */
    font-weight: bold;
    /* Жирный шрифт */
    color: white;
    /* Цвет текста бренда */
}

.nav-link {
    color: white;
    /* Цвет текста ссылок */
}

.nav-link:hover {
    color: #f1f1f1;
    /* Цвет текста при наведении */
}