 .image-container {
     position: relative;
     /* Для позиционирования дочерних элементов */
     display: inline-block;
 }

 .my-image {
     width: 100vw;
     /* Занимает всю ширину окна */
     height: 100vh;
     /* Занимает всю высоту окна */
     object-fit: cover;
     /* Сохраняет пропорции изображения */
 }

 .center-text {
     position: absolute;
     top: 30%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: rgb(4, 2, 17);
     /* Цвет текста */
     font-size: 5em;
     /* Размер шрифта */
     text-align: center;
     /* Центрирование текста */
 }

 /* Стили для навигационной панели */
 .navbar {
     position: absolute;
     /* Чтобы расположить навигацию поверх изображения */
     top: 0;
     /* Позиция сверху */
     left: 0;
     /* Позиция слева */
     width: 100%;
     /* Ширина панели на 100% */
     background: none;
     /* Полупрозрачный фон для читаемости текста */
     color: rgb(24, 2, 45);
     /* Цвет текста */
     padding: 1.5rem;
     /* Отступы внутри панели */
 }

 .navbar-brand {
     font-size: 2rem;
     /* Размер шрифта для бренда */
     font-weight: bold;
     /* Жирный шрифт */
     color: rgb(36, 1, 1);
     /* Цвет текста бренда */
 }

 .nav-link {
     color: blue;
     /* Цвет текста ссылок */
    font-size: 1.2rem;
        /* Размер шрифта для ссылок */
        margin-right: 1rem;
            /* Отступ справа между ссылками */
        }
 

 .nav-link:hover {
     color: rgb;
     /* Цвет текста при наведении */
 }
.nav {
    justify-content: flex-start;
    /* Выравнивание ссылок влево */
}
 