.center-text {
    text-align: center;
    font-size: 24px;
    /* Увеличенный шрифт */
    color: #238149
        /* Цвет текста */
}

div {
    color: rgb(193, 127, 255);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Специфичные стили для изображения с классом "my-image" */
.my-image {
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: auto;

}

p {
    color: rgb(43, 226, 92);
}